

#calidadATuMesa {
    text-decoration: none;
    font-size: 0.5em;
    width: max-content;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.850);
    background-color: rgba(00, 52, 48, 0.70);
    border-radius: 4em;
}