@import "_fonts";
@import "_vars";
@import "_extend&mixins";

a{
    text-decoration: none;
}
.indicador {
    border: black double 6px;
    background-color: #e0fffb;
    padding-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    .tituloYFoto {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        .cajaTituloLinks {
            width: 50%;
            text-align: center;
            padding-top: 10px;
        }
        .cajaIconoLinks {
            text-align: center;
            width: 50%;
            margin-right: 20px;
            .iconoLinks {
                max-width: 50px;
            }
        }
    }
    .divlink {
        text-align: center;
        text-decoration: none;
        color:#005248;
        padding: 0 6px;
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
    
    }
    .divText {
        font-size: .8em;
        width: auto;
        margin: auto;
        padding: 4px;
        text-align: center;
    }
}

h3{
    font-size: 1.2em;
    text-decoration: none;
    width: auto;
    text-align: center;
    color: black;
    border: black solid 2px;
    border-radius: .7em;
    padding: 0 6px;
    &:hover{
        color: #ffffff;
        background-color: #005248;
    }
}
h4{
    margin: 10px 15px;
}

#links2 {
    width: 100vw;
    h3{
        display: none;
}
    #cajacompleta {
        width: 100%;
        display: flex;
        flex-direction: row;
        #foto1-in {
            @include flex(row,center,center);
            width: 33%;
            position: relative;
            #cajaImg1 {
                position: relative;
                text-align: center;
                width: 100%;
                padding: 0 10px;
                img{
                    width: 100%;
                    border: double black 2px;
                }
            }
            #CajaTransp1 {
                position: absolute;
                @include wh(100%,auto);
                @include flex(row,center,center);
                #hola {
                    width: min-content;
                    text-align: center;
                    font-size: 1.1em;
                    
                }
                .transparencia {
                    background-color:rgba(255, 255, 255, 0.70);
                    color:#005248;
                    border-radius: 0.5em;
                }               
            }
        }
    }
}

#bannerFinal {
    @include flex(row, center, center);
    position: relative;
    width: 100vw;
    #divImgBannerFinal {
        position: relative;
        img{
            width: 100%;
        }
    }
    #divTextBannerFinal {
        position: absolute;
        width: 70%;
        text-align: center;
        background-color: rgba(00, 52, 48, 0.70);
        &:hover{
            position: absolute;
            width: 70%;
            text-align: center;
            background-color: rgba(00, 52, 48, 1);
        }
        a{
            font-size: 1em;
            color: rgba(255, 255, 255, 0.70);
            &:hover{
                color: $white;
            }
        }
    }
}

//page productos

#headerProductos {
    @include flex(row, center, center);
    h2{
        @include MP(15px 0,0 10px);
        @include text("roboto",$textXXL, 1.5,$white);
        background-color: #005248;
        border-radius: 1em;
    }
}

.boxshadow{
    box-shadow: map-get($map: $boxshadows, $key:uno);
}
.boxshadow2{
    box-shadow: map-get($map: $boxshadows, $key:dos);
}
.boxshadow3{
    box-shadow: map-get($map: $boxshadows, $key:tres);
}
.boxshadow4{
    box-shadow: map-get($map: $boxshadows, $key:cuatro);
}

div {
    .card-body {
        @include flex(column, center, center);
    }
    .card {
        max-width: 40vw;
        margin: 10px;
    }
}
#ulBuscar {
    list-style: none;
}

//page mayorista 

#headerProductos {
    .h2Mayorista {
        font-size: 1.2em;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        border: solid black 2px;
        border-radius: 1.5em;
        background-color: #005248;
        color: #ffffff;
    }

}
#divTextos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    .textMayorista1, .textMayorista2{
        font-size: 1em;
        padding: 10px 10px;
        border: solid black 2px;
        align-items: center;
        text-align: center;
        border-radius: .5em;
        background-color: rgba(00, 52, 48, 0.30);
        margin: 15px 15px;
    }

}

//form contacto

#formContacto {
    border: double #005248 2px ;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(00, 52, 48, .3);
    #h2form {
        background-color: #005248;
        color: #ffffff;
        text-align: center;
        padding: 5px 15px;
        border-radius: 1em;
        margin-top: 15px;
    }
    #idform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
    }
}