
.navbar-brand{ 
    height: 100%;
    img{
        max-height: 100px;
    }
}
.bg-gradiente {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,82,72,1) 95%, rgba(0,82,72,1) 100%, rgba(0,82,72,1) 100%);
}
.fontLG{
    font-size: $textLG;
}
.vw100 {
    width: 100vw;
}
