
#topbar {
    height: 5vh;
    background-color: #005248;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    .divTopBar{
        max-height: 100%;
        width: auto;
        display: flex;
        justify-content: center;   
        a{
            height: 100%;
            display: flex;
            align-items: center;
            p{
                display: none;
                text-decoration: none;
            }
        }
        img {
            height: 80%;
        }
    }
}
